<% @page_title= "create messagetemplate" %>
<%= link_to(" Back to List", {:action => 'list'}, :class =>'btn btn-warning') %>
<div class ="MessageTemplate new">
	<h2>Create MessageTemplate</h2>
	
	<%= form_for(:messagetemplate, :url =>{:action => 'create'}) do |f| %>
	
	 <%= render(:partial=> "form", :locals=>{:f => f}) %>
	
	<div class="form-buttons">
		<%= submit_tag("Create MessageTemplate", :class =>'btn btn-warning') %> 
</div>

<% end %>
</div>